{% extends 'photo/base.html' %}

{% load static %}

{% block content%}
<h1>Photo Gallery</h1>
<div class="row">
{% for image in Image %}
<div class="col-md-4">
	<div class="card mb-2">
		<img src="{% static photo.image%}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{image.author}}</h5>
			<p class="card-text">{{image.description}}</p>
			<a href="{% url 'photo_details' photo.pk %}" class="btn btn-primary"></a>

		</div>

	</div>

</div>
	{% endfor %}
</div>
{% endblock %}