{% extends "photo/base.html" %}

{% block content %}
  <h1>Gallery Home</h1>


  <p>The gallery has the following record counts:</p>
  {% load static %}
  {% for photo in photos %}
<div id="header">
    <img src="{{ photo.image }}" alt="" width="240" class="image-responsive">
        <p> Created: {{ photo.created }}{{photo.author}}</p>
       {% endfor %}
    <ul>

    <li><strong>Number of Photos:</strong> {{ no_of_photos }}</li>
    <li><strong>Created by:</strong> {{ photo.author }}</li>
    <li><strong>Photos:</strong><img src="{{ image.photo.url }}"></li>
  </ul>
</div>

{% endblock %}