{% extends "photo/base.html" %}

{% block content %}
  <h1>Gallery Home</h1>


  <p>The gallery has the following record counts:</p>
  {% load static %}

<div id="header">
    <div>
        {% for photo in photos %}
        <img src="{{ photo.image.url }}" alt="" width="240" class="image-responsive">
        <p> Created: {{photo.pk}}{{ photo.created }}{{photo.author}}{{photo.location}}</p>
         {{ photo.image.url }}
        <p>{{photo.description}}</p>
       {% endfor %}
    </div>

    <ul>

    <li><strong>Number of Photos:</strong> {{ no_of_photos }}</li>
    <li><strong>Created by:</strong> {{ author }}</li>
    <li><strong>Photos:</strong><img src="{{ photo.image.url }}"></li>
  </ul>
</div>

{% endblock %}